.assistant-message {
    background: white;
    width: fit-content;
    border-radius: 15px;
}

.user-message {
    background: rgb(103, 58, 183);
    width: fit-content;
    border-radius: 15px;
    float: right;
    color: white;
}
