<mat-card>
  <p class="font-weight-bold mb-0" *ngIf="badgeData">
    <span [ngClass]="badgeClasses" class="card-badge">
      {{badgeData.label}}
    </span>
  </p>
  <h2 class="font-weight-bolder">
    {{skill?.name}}
  </h2>
  <mat-card-subtitle class="mt-3">
    {{skill?.description}}
  </mat-card-subtitle>
  <mat-card-content>
    <div class="levels-track">
      <div class="track-line">
        <div [ngClass]="trackLine" [style.width.%]="getProgressWidth()"></div>
      </div>

      <div class="level-node" *ngFor="let level of skill?.levels">
        <div class="node-bubble" [ngClass]="getBubbleStyle(level)" (click)="onSelectLevel(level)">
          <mat-icon *ngIf="getMatchedLevel() === level" class="checkmark">check</mat-icon>
          <span *ngIf="getMatchedLevel() !== level">{{level.levelOrder}}</span>
        </div>
        <div class="node-label font-weight-bolder" [ngClass]="getBubbleFont(level)">{{level.name}}</div>
      </div>
    </div>
    <button mat-stroked-button class="d-flex align-items-center justify-content-center w-100 text-center mt-2" style="font-size: 14px"
            *ngIf="buttonData" [ngClass]="buttonData.style === 'warn' ? 'red-font' : 'primary-font'"
            (click)="onButtonClick()">
      <mat-icon style="font-size: 14px; width: 14px; height: 14px" *ngIf="buttonData.style === 'normal'">check</mat-icon>
      {{buttonData.label}}
    </button>
  </mat-card-content>
</mat-card>
