<div class="container">
  <div class="mt-4 mx-auto">
    <div class="mb-4">
      <h1 class="m-0 font-weight-bolder">Extract Skills</h1>
      <div class="font-weight-lighter">Paste a job description or resume to automatically identify skills.</div>
    </div>
    <mat-card class="card">
      <textarea class="textarea" rows="5" placeholder="Enter your text here…"
                [(ngModel)]="inputText"></textarea>

      <div class="footer">
        <mat-spinner *ngIf="isLoading" class="ml-auto mr-2" diameter="30"></mat-spinner>
        <button mat-button (click)="onExtractSkills()">Extract</button>
      </div>
    </mat-card>

    <div class="row mt-4">
      <div class="col-4 p-3" *ngFor="let skill of skills">
        <app-skill-card [style]="getCardStyle(skill)"
                        [badgeData]="getBadgeData(skill)"
                        [buttonData]="getButtonData(skill)"
                        [skill]="skill"
                        (buttonClicked)="onSkillCardButtonClick($event, skill)"
                        (skillSelected)="selectSkill(skill)"></app-skill-card>
      </div>
    </div>
  </div>
</div>

<ng-template #skillLevelDrawer let-skill="skill">
  <app-skill-drawer [style]="getCardStyle(skill)"
                    [badgeData]="getBadgeData(skill)"
                    [skill]="skill"></app-skill-drawer>
</ng-template>
