.dropdown-button:focus,
.dropdown-button:active,
.dropdown-button:focus-visible {
  outline: none;
  box-shadow: none;
}

.dropdown-button:hover {
  background-color: rgba(0,0,0,0.1);
}

.dropdown-button {
  border-radius: 6px;
}

.topic-input {
  all: unset;
  box-sizing: border-box;
}
